@using Entities
@using Business

<div class="form-group">
    <label>Bodegas:</label>
    <select class="form-control" @onchange="OnWarehouseChanged">
        <option>Seleccione una bodega...</option>
        @foreach (var warehouse in warehouses)
        {
            <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
        }
    </select>
</div>

<EditForm Model="objInOuts">
    <div class="form-group">
        <label>Producto</label>
        <InputSelect class="form-control" @bind-Value="objInOuts.StorageId">
            <option>Seleccione producto...</option>
            @foreach (var storage in storages)
            {
                <option value="@storage.StorageId">@storage.Product.ProductName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Cantidad</label>
        <InputNumber class="form-control" @bind-Value="objInOuts.Quantity" />
    </div>
    <div class="form-group">
        <label>Es un ingreso</label>
        <InputCheckbox class="form-control" @bind-Value="objInOuts.IsInput" />
    </div>
    <div>
        <input type="button" value="@buttonValue" @onclick="Save" class="form-control btn btn-warning" />
    </div>
</EditForm>

@code{
    InputOutputEntity objInOuts = new InputOutputEntity();
    List<WarehouseEntity> warehouses = new List<WarehouseEntity>();
    List<StorageEntity> storages = new List<StorageEntity>();
    ProductEntity objProduct = new ProductEntity();
    StorageEntity objStorage = new StorageEntity();

    string buttonValue => objInOuts.IsInput ? "Registrar Entrada" : "Registrar Salida";

    protected override async Task OnInitializedAsync()
    {
        warehouses = WarehouseBusiness.WarehouseList();
    }

    private void OnWarehouseChanged(ChangeEventArgs e)
    {
        string idWarehouse = e.Value.ToString();

        storages = StorageBusiness.StorageProductsByWarehouse(idWarehouse);
    }

    private void Save()
    {
        var quantity = objInOuts.Quantity;
        var objStorage = storages.LastOrDefault(s => s.StorageId == objInOuts.StorageId);
        var product = objStorage.Product;

        if (!objInOuts.IsInput)
        {
            //quantity = -1 * quantity;
            if (IsBiggerThanZero(quantity, objStorage))
            {
                product.TotalQuatity = product.TotalQuatity - quantity;
                objStorage.PartialQuantity = objStorage.PartialQuantity - quantity;
            }

            StorageBusiness.UpdateStorage(objStorage);
            ProductBusiness.UpdateProduct(product);
        }
        else
        {
            product.TotalQuatity = product.TotalQuatity + quantity;
            objStorage.PartialQuantity = objStorage.PartialQuantity + quantity;

            StorageBusiness.UpdateStorage(objStorage);
            ProductBusiness.UpdateProduct(product);
        }
    }


    private bool IsBiggerThanZero(int quantity, StorageEntity storage)
    {
        if (quantity < 0 && storage.PartialQuantity < quantity)
        {
            return false;
        }

        return true;
    }


}